DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password
JWT_SECRET=your_base64_jwt_secret
JWT_ACCESS_TOKEN_EXP=2592000000
JWT_REFRESH_TOKEN_EXP_NO_REMEMBER=3600000
JWT_REFRESH_TOKEN_EXP=2592000000
TMDB_API_URL=https://api.themoviedb.org/3
TMDB_API_KEY=your_tmdb_api_key
GITHUB_USERNAME=andrewgattax
GITHUB_TOKEN=sesso